@import "fonts.css";
@import "settings.css";


/*
	myF is a simple framework inspired on Bootstrap and developed by Marcelo Freri.

	Contact info:  mfreri@proton.me
*/


/* PRIMITIVES */
* {
	box-sizing: border-box;
}

body {
	background-color:var(--bg-color);
	color: var(--text-color);
	font-family: var(--text-font);
	font-size: var(--medium-size);
	margin: 0;
	padding: 0;
}

/*
h1 {
	font-size: 2em;
	margin: .67em 0;
}

h2 {
	font-size: 1.5em;
	margin: .75em 0;
}

h3 {
	font-size: 1.17em;
	margin: .83em 0;
}

h5 {
	font-size: .83em;
	margin: 1.5em 0
}

h6 {
	font-size: .75em;
	margin: 1.67em 0;
}
*/

h1 {
	font-size: var(--large-font);
}

h1, h2, h3, h4, h5, h6 {
	color: inherit;
	font-family: var(--title-font);
	font-weight: bolder;
	margin: 0;
}

hr {
	color: var(--text-color);
	background-color: var(--text-color);
	border: none;
	height: 1px;
	clear: both;
}

article {
	margin-bottom: var(--large-gap);
}

p {
	text-align: justify;
	margin: .25em auto var(--medium-gap) auto;
}

footer {
	padding: 0 var(--small-gap);
	clear: both;
}

a {
	text-decoration: none;
	color: var(--color-motive);
}

a:hover {
	text-decoration: underline;
}

a img {
	opacity: var(--transparency);
	/*transition: opacity .3s ease-in-out;*/
}

a img:hover {
	opacity: 1;
}

table {
	width: 100%;
	border-color: var(--text-color);
}

thead, th, tbody, tr, td {
  border-color: var(--text-color);
  border-style: solid;
  border-width: 1px;
}

thead tr {
	background-color: var(--color-motive);
	color: var(--text-color-motive);
}

tbody tr td {
	border-style: none none solid none;
}

tbody tr:hover {
	background-color: var(--text-color);
	color: var(--bg-color);
}

button {
	padding: .5em;
	margin: .5em 0;
}

mark {
	background-color: var(--text-color);
	color: var(--bg-color);
}

/* MAIN CONTAINERS */

.header-container {
	/*background-color: pink;*/
	/* margin: 0 auto; */
	padding: var(--small-gap);
	padding-bottom: 0;
	clear: both;
}

.body-container {
	/*background-color: palegoldenrod;*/
	margin: 0 auto;
	padding: var(--large-gap);
	clear: both;
	display: inline-block;
}

.footer-container {
	/*background-color: lightgreen;*/
	margin: 0 auto;
	padding: var(--large-gap);
	clear: both;
	font-size: var(--small-font);
}


/* SUB CONTAINERS */

.navbar {}

.navbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navbar li {
	padding: .5em var(--medium-gap) .5em 0;
}

.navbar-single {
	clear: both;
}

.navbar-left {
	clear: left;
	margin-left: 0;
	margin-right: auto;
	width: max-content;
}

.navbar-right {
	margin-left: auto;
	margin-right: 0;
	width: max-content;
	clear: right;
}

.navbar-right li {
	padding-left: var(--medium-gap);
	padding-right: 0;
}
/*
.navbar-right {
	clear: right;
	margin-right: 0;
}
*/

.navbar-center {
	margin-left: auto;
	margin-right: auto;
	width: max-content;
	clear: both;
}

.navbar-center li {
	padding-left: var(--small-gap);
	padding-right: var(--small-gap);
}

.navbar-left nav ul li {
	padding-left: 0;
}

.navbar-right nav ul li {
	padding-right: 0;
}

.card {
	background-color: var(--color-motive);
	color: var(--text-color-motive);
	width:25em;
	padding: var(--medium-gap);
	/*
	display: flex;
	justify-content: space-between;
	*/
	margin: var(--medium-gap) auto;
	text-align: justify;
}

.card-body {
	display: flex;
	justify-content: space-between;
}

.card-title {
	font-size: 1.15em;
}

.card-text {
	margin: 0 var(--small-gap);
}

.card-footer {
	font-size: var(--small-font);
	text-align: center;
}

.card-img {
	width: 6em;
	height: 6em;
}

.container {
	background-color: var(--bg-color);
	padding: var(--small-gap);
	/*
	margin: var(--small-gap);
	*/
}

.social-bar {
	/* background-color: #FFFA; */
	padding: 2px;
}

.social-bar img {
	width: 1.5em;
	height: 1.5em;
	margin: 0 .25em;
}

.social-bar a:hover {
	background-color: var(--text-color);
	transition: var(--transition);
}

/* I'm not sure about the purpose of this class */
.maintenance {
	background-color: yellow;
	color: red;
	font-family: var(--maintenance-font);
	font-size: var(--medium-font);
	text-decoration: uppercase;
}

/* POSITION */

.inline {
	display: flex;
	flex-direction: row;
	white-space: nowrap;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-center {
	/* Must set width in HTML file */
	margin-left: auto;
	margin-right: auto;
}

.fixed-top {
	position: fixed;
	top: 0;
	left: var(--small-gap);
	right: var(--small-gap);
}

.sticky-top {
	box-sizing: border-box;
	position: sticky;
	top: 0;
	z-index: 10;
}


/* SIZES */

.size-wide {
	width: 100%;
}

.size-medium {
	width: 90%;
}

.size-narrow {
	width: 60%;
}

.size-tight {
	width: 30%;
}


/* ATTRIBUTES */

.bordered {
	border: 1px solid var(--text-color);
}

.header-container.bordered {
	border: none;
	border-bottom: 1px solid var(--text-color);
}

.rounded {
	border-radius: 16px;
}

.rounded-border {
	border-radius: 16px;
}

.rounded-circle {
	border-radius: 50%;
}

.rounded-tag {
	border-radius: var(--small-gap) var(--large-gap);
}

.transparent {
	opacity: var(--transparency);
}

.spaced {
	letter-spacing: 0.3em;
}

.colored {
	background-color: var(--color-motive);
	color: var(--text-color-motive);
}


/* TEXT */

#main-title {
	font-family: var(--title-font);
	font-size: var(--large-font);
	font-weight: bolder;
	margin: 0;
}

.sub-title {
	font-family: var(--title-font);
	font-size: var(--small-font);
	font-weight: bolder;
	margin: 0;
}

.title {
	text-transform:capitalize;
	font-family: var(--title-font);
	font-weight: bolder;
	margin: .5em 0;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.list-unstyled {
	list-style-type: none;
	padding-left: 0px;
}

.list-inline li {
	/* For use in the ul element */
	display: inline-block;
}

.highlighted-text {
	font-size: 0.95em;
	font-weight: bold;
	color: var(--color-motive);
	word-break: break-word;
}


/* IMAGES */
.img-portrait {
	padding: var(--small-gap);
}


/* LINKS */

.stealth-link {
	text-decoration: none;
	color: inherit;
	opacity: var(--transparency);
}

.stealth-link:hover {
	text-decoration: none;
	opacity: 1;
	/* cursor: pointer; */
}

.permanent-link:visited {
	color: var(--link-color);
}

.back-link {
	margin: var(--small-gap) 0;
}

.hint div {
	display: none;
	background-color: var(--hint-color);
}

.hint:hover div {
	display: inline-block;
}

.flat-button {
	background-color: var(--bg-color);
	color: var(--text-color);
	border-color: var(--text-color);
	font-weight: bold;
	border-radius: 0;
	padding: .75em;
	margin: .5em 0;
}

.flat-button:hover {
	background-color: var(--color-motive);
	color: var(--text-color-motive);
	transition: var(--transition);
}

.flat-button:active {
	animation: blink 0.1s linear 3;
}


/* GRID */

.grid-container {
	/* background-color: lightskyblue; */
	display: grid;
	grid-gap: var(--small-gap);
	grid-template-columns: auto auto auto;  	/* three columns */
	grid-template-rows: auto auto auto;  		/* three rows    */
}

.grid-item {
	margin: var(--small-gap);
}

.one-column, .two-columns, .three-columns, .four-columns {
	padding: var(--small-gap);
	/* margin-bottom: var(--small-gap); */
}

.one-column {
	clear: both;
}

.two-columns {
	width: 50%;
	float: left;
}

.three-columns {
	width: 33.33%;
	float: left;
}

.four-columns {
	width: 25%;
	float: left;
}

.left-column {
	padding-right: var(--large-gap);
}


/* FLEXBOX */

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

.flex-column {
	flex-direction: column;
}


/* ANIMATION */

.spinner {
	display: inline-block;
	width: 2em;
	height: 2em;
	border: 4px solid var(--text-color);
	border-radius: 50%;
	border-top-color: var(--color-motive);
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
	to {
	  -webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	to {
	  -webkit-transform: rotate(360deg);
	}
}

@keyframes blink {
	from {
		background-color: var(--bg-color);
		color: var(--text-color);
	}
	to {
		background-color: var(--color-motive);
		color: var(--text-color-motive);
	}
}


/* RESPONSIVE */

/*
	xs:      -> 575
	sm:  576 -> 767
	md:  768 -> 991
	lg:  992 -> 1199
	xl: 1200 ->
*/

/* Extra-small */

@media (max-width: 575px) {
	:root {
		--small-gap: var(--small-gap-xs);
		--medium-gap: var(--medium-gap-xs);
		--large-gap: var(--large-gap-xs);
	}

	.xs-refactor {
		/*
			This values will only apply with the current window size.
		*/
		font-size: var(--small-font);
	}

	.xs-hide {
		display: none;
	}
}

/* Small */

@media (min-width: 576px) and (max-width: 767px) {
	.sm-hide {
		display: none;
	}
}

/* Medium */

@media (min-width: 768px) and (max-width: 991px) {
	.md-hide {
		display: none;
	}
}

/* Large */

@media (min-width: 992px) and (max-width: 1199px) {
	.lg-hide {
		display: none;
	}
}

/* Extra-large */

@media (min-width: 1200px) {
	/*
	:root {
		--small-gap: var(--small-gap-xl);
		--medium-gap: var(--medium-gap-xl);
		--large-gap: var(--large-gap-xl);
	}
	*/
	.xl-refactor {
		/*
			This values will only apply with the current window size.
		*/
		font-size: var(--large-font);
	}

	.xl-hide {
		display: none;
	}
}


/* DARK MODE COMPATIBILITY */
/*
@media screen and (prefers-color-scheme: dark) {
	body {
		background-color: var(--bg-dark-mode);
		color: var(--text-dark-mode);
	}
	.stealth-link {
		color: var(--text-dark-mode);
	}
	.stealth-link:hover {
		color: var(--stealth-hover-dark);
	}
	.fixed-top {
		background-color: var(--bg-dark-mode);
	}
}
*/
