/*
	This is part of myF, a CSS framework developed by Marcelo Freri.
*/


/* Variables */

:root {
	/* Basic Colors */
	--black: black;
	--white: #F5F5F5;
	--red: #DA032F;
	--green: #7FBC00;
	--blue:  #0054B8;
	--gray: #303841;
	--yellow: #FCC541;
	--dark-blue: #333652;
	/* San Francisco Clouded */
	--teal-green: #4297a0;
	--ivory: #f4eae6;
	--coral: #e57f84;
	--misty-blue: #2f5061;
	/* Facing Forward */
	--sand-dollar: #e5ddc8;
	--teal: #01949a;
	--navy-blue: #004369;
	--red: #db1f48;

	/* Interface Colors */
	--text-color:  #4a4a4a;
	--bg-color: var(--white);
	--link-color: #729FCF;
	--hint-color: #fff4bd;
	--color-motive: steelblue;
	--text-color-motive: var(--white);

	/* Colors in dark mode */
	--text-dark-mode: lightgray;
	--bg-dark-mode: #303841;
	--stealth-hover-dark: white;

	/* Fonts */
	/* The font files are setup in fonts.css */
	--title-font: 'AvantGarde';
	--text-font: 'BellGothic';
	--maintenance-font: 'Andale';
	/* Sizes */
	--small-font: 12px;
	--medium-font: 16px;
	--large-font: 34px;

	/* Margins */
	/* Extra Small */
	--small-gap-xs: 0.5em;
	--medium-gap-xs: 1em;
	--large-gap-xs: 2em;
	/* Medium */
	--small-gap: 1em;
	--medium-gap: 1.5em;
	--large-gap: 4em;
	/* Extra Large */
	--small-gap-xl: 2em;
	--medium-gap-xl: 4em;
	--large-gap-xl: 8em;

	/* Animation */
	--transition: .1s;
	--transparency: .85;
}