:root {
	/* Colours */
	--text-colour:  #4a4a4a;
	--stealth-hover: gray;
	--link-colour: blue;

	/* Fonts */
	/* The font files are setup in fonts.css */
	--title-font: 'AvantGarde';
	--text-font: 'BellGothic';

	/* Margins */
	/*
		minimal: 10px;
		medium: 30px;
		large: 50px;
	*/

	/* US complaint */
	--text-color: var(--text-colour);
	--link-color: var(--link-colour);
}